@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  #nav-bar {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;

    .nav-toggle {
      display: none;
    }

    .nav-list {
      flex-direction: row;
      column-gap: 2.5rem;
    }

    .nav-menu {
      margin-left: auto;
    }
  }

  .change-theme {
    position: initial;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .home {
    padding: 10rem 0 5rem;

    .home-image {
      width: 330px;
    }

    .home-socials {
      top: 38%;
      left: -45rem;
    }
  }

  .home-container,
  .contact-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .video-container {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }

  .product-container {
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    column-gap: 5rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 18rem 0 1rem;
  }

  .home {

    .home-content {
      margin-top: 20%;
    }

    .home-image {
      width: 500px;
    }

    .home-title {
      font-size: 2.5rem;
    }

    .home-description {
      font-size: 1.3rem;
    }
  }

  .video-container {
    display: grid;
    grid-template-columns: 0.9fr;
  }

  .video-description {
    font-size: 1.3rem;
  }

  .product {
    padding-bottom: 20rem;

    .product-container {
      padding: 4rem 0;
      grid-template-columns: repeat(4, 200px);
      gap: 4rem 6rem;
    }

    .product-title,
    .product-title {
      font-size: var(--normal-font-size);
    }
  }

  .footer {
    .footer-logo {
      font-size: var(--h3-font-size);
    }
  }
}

@media screen and (min-width: 1200px) {
  .home {
    .home-socials {
      top: 38%;
      left: -65rem;
      row-gap: 4.5rem;

      .home-social-link {
        font-size: 1.5rem;
      }
    }
  }
}
