.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button-icon {
  transition: 0.3s;
}

.button:hover {
  background-color: var(--second-color);
  transition: 0.3s;

  .button-icon {
    transform: translateX(0.25rem);
  }
}

.button-flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}
