body.dark-theme {
  --first-color-dark: hsl(28, 58%, 18%);
  --title-color: hsl(152, 4%, 95%);
  --text-color: hsl(152, 4%, 75%);
  --body-color: hsl(28, 58%, 15%);
  --container-color: hsl(28, 58%, 20%);
}

.dark-theme {
  .background,
  .footer {
    background-color: var(--first-color-dark);
  }

  .contact-subtitle {
    color: var(--text-color);
  }

  .footer-logo {
    color: var(--title-color);
  }
}

.change-theme {
  color: var(--title-color);
  font-size: 1.15rem;
  cursor: pointer;
}

.nav-btns {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}
