.product-container {
  padding: 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 3rem;
}

.product-card {
  display: grid;
  position: relative;
}

.product-img {
  position: relative;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: 0.3s;
}

.product-title,
.product-price {
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  color: var(--title-color);
}

.product-title {
  margin-bottom: 0.25rem;
}

.product-button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.35rem;
  font-size: 1.15rem;
}

.product-button:hover {
  background-color: var(--second-color);
}

.product-card:hover {
  .product-img {
    transform: translateY(-0.5rem);
  }
}
