@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --header-height: 3.5rem;
  --hue: 152;
  --first-color: hsl(28, 58%, 14%);
  --second-color: hsl(27, 33%, 29%);
  --third-color: hsl(25, 26%, 47%);
  --fourth-color: hsl(27, 39%, 77%);
  --fifth-color: hsl(33, 42%, 87%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --container-color: #fff;
  --body-font: "Lato", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size1: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.section {
  padding: 5.5rem 0 1rem;
}
.section__title, .section__title-center {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
  text-align: center;
}
.section__title-center, .section__title-center-center {
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.5s;
}

#nav-bar {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  #nav-bar .nav-menu {
    position: fixed;
    background-color: var(--container-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding: 2.5rem 0;
    top: -100%;
    margin: 0 auto;
    transition: 0.4s;
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}
#nav-bar .nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
#nav-bar .nav-link, #nav-bar .nav-logo, #nav-bar .nav-toggle {
  color: var(--title-color);
}
#nav-bar .nav-logo {
  font-weight: var(--font-bold);
  display: inline-flex;
  letter-spacing: 1px;
  align-items: center;
  column-gap: 0.3rem;
  transition: 0.3s;
}
#nav-bar .nav-logo:hover {
  color: var(--first-color);
}
#nav-bar .nav-logo-icon {
  font-size: 1.15rem;
  color: var(--first-color);
}
#nav-bar .nav-toggle {
  font-weight: var(--font-bold);
  display: inline-flex;
  font-size: 1.15rem;
  cursor: pointer;
}
#nav-bar .show-menu {
  top: calc(var(--header-height) + 1rem);
}

.scroll-header {
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, 0.1);
}

.home {
  padding: 3.5rem 0 2rem;
}
.home .home-container {
  position: relative;
  row-gap: 2rem;
}
.home .home-image {
  justify-self: center;
  width: 350px;
}
.home .home-title {
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
}
.home .home-description {
  margin-bottom: var(--mb-2-5);
}
.home .home-socials {
  position: absolute;
  top: 2rem;
  right: -1rem;
  display: grid;
  justify-content: center;
  row-gap: 3.5rem;
}
.home .home-socials .home-follow-us {
  font-size: var(--small-font-size);
  color: var(--first-color);
  position: relative;
  transform: rotate(90deg);
}
.home .home-socials .home-follow-us::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: var(--first-color);
  right: -45%;
  top: 50%;
}
.home .home-socials .home-social-links {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}
.home .home-socials .home-social-link {
  font-size: 1rem;
  color: var(--first-color);
  transition: 0.3s;
}
.home .home-socials .home-social-link:hover {
  transform: translateX(0.25rem);
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button-icon {
  transition: 0.3s;
}

.button:hover {
  background-color: var(--second-color);
  transition: 0.3s;
}
.button:hover .button-icon {
  transform: translateX(0.25rem);
}

.button-flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.video-container {
  padding-bottom: 1rem;
}

.video-description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.video-content {
  position: relative;
}

.video-button {
  position: absolute;
  left: 1rem;
  bottom: -1rem;
  padding: 1rem 1.5rem;
}

.video-button-icon {
  font-size: 1.2rem;
}

.product-container {
  padding: 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 3rem;
}

.product-card {
  display: grid;
  position: relative;
}

.product-img {
  position: relative;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: 0.3s;
}

.product-title,
.product-price {
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  color: var(--title-color);
}

.product-title {
  margin-bottom: 0.25rem;
}

.product-button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.35rem;
  font-size: 1.15rem;
}

.product-button:hover {
  background-color: var(--second-color);
}

.product-card:hover .product-img {
  transform: translateY(-0.5rem);
}

.contact-text {
  text-align: left;
}

.background {
  background-color: var(--fifth-color);
}

.contact-container {
  row-gap: 3.5rem;
}

.contact-content {
  display: grid;
  row-gap: 2rem;
}

.contact-subtitle {
  margin-bottom: var(--mb-0-5);
  color: var(--second-color);
}

.contact-description {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--title-color);
}

.contact-inputs {
  display: grid;
  row-gap: 2rem;
  margin-bottom: var(--mb-2-5);
}

.contact-field {
  position: relative;
  height: 3rem;
  border-bottom: 2px solid var(--text-color);
}

.contact-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;
  color: var(--text-color);
  border: none;
  outline: none;
  z-index: 1;
}

.contact-label {
  position: absolute;
  top: 0.75rem;
  width: 100%;
  color: var(--third-color);
  transition: 0.3s;
}

.contact-area {
  height: 7rem;
}
.contact-area textarea {
  resize: none;
}

.contact-input:focus + .contact-label {
  top: -0.75rem;
  font-size: var(--small-font-size);
  z-index: 10;
  left: 0;
}

.contact-input:not(:placeholder-shown).contact-input:not(:focus) + .contact-label {
  top: -0.75rem;
  font-size: var(--small-font-size);
  z-index: 10;
}

.contact-input:placeholder-shown.contact-input:not(:focus).email-input + .contact-label {
  top: -0.75rem;
  font-size: var(--small-font-size);
  z-index: 10;
  font-size: var(--normal-font-size);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
  background-color: var(--third-color);
}

.footer-logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3rem;
  color: var(--first-color);
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  transition: 0.3s;
  font-size: var(--h2-font-size);
}

/*# sourceMappingURL=styles.css.map */
